.rankTransition {
    composes: layout from '../App.css';

    height: 200px;
    width: 240px;
}

.mainTitle {
    composes: mainTitle from '../App.css';
}

.titleText {
    composes: titleText from '../App.css';
}

.comparisonArea {
    margin-top: 30px;
}

.comparisonAreaText {
    margin: 10px 0;
}
