@value backgroundWhite from '../App.css';
@value textGrey from '../App.css';
@value textDarkGrey from '../App.css';

table {
    width: 100%;
}

tbody {
    overflow-y: auto;

    background: backgroundWhite;
}

.settingTable {
}

.searchCondition {
    display: flex;
    align-items: center;

    height: 40px;

    color: textDarkGrey;
}

.searchKeyword {
    position: relative;

    margin: 20px;
}

.searchKeyword input {
    padding: 5px 15px;

    border: 1px textGrey solid;
    border-radius: 999px;
    background: backgroundWhite;
}

.searchKeyword:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 16px;
    bottom: 0;

    background: no-repeat url('../assets/img/icn_search.svg');

    width: 20px;
    height: 20px;
}

.searchKeywordNum {
}

.searchKeywordNum select {
    padding: 5px 10px;
    margin-left: 5px;

    background: backgroundWhite;
    border: 1px textGrey solid;
}

.searchStatus {
    margin-left: auto;
    margin-right: 20px;
}

.table {
    height: 340px;
    overflow: scroll;
}

.table th {
    position: sticky;
    top: 0;

    padding: 5px 2px;

    background: #ccc;
    font-size: 0.8rem;
    color: textDarkGrey;
}

.table th:first-child {
    width: 230px;
}
.table th:nth-child(2) {
    width: 90px;
}
.table th:nth-child(3) {
    width: 120px;
}
.table th:nth-child(4) {
    width: 320px;
}
.table th:nth-child(5) {
    width: 240px;
}

.table th.sort:hover {
    opacity: 0.8;
}

.table th.sort:after {
    content: '';
    position: absolute;

    top: 50%;
    right: 0;
    transform: translateY(-50%);

    background: url('../assets/img/icn_sort.svg') no-repeat;
    width: 16px;
    height: 16px;
}

.table td {
    padding: 2px;
    vertical-align: middle;

    height: 24px;
    font-size: 0.8rem;
    border: 1px #ddd solid;
}

.table tr:first-child td {
    border-top: 0;
}

.table tr:last-child td {
    border-bottom: 0;
}

.up {
    font-weight: bold;
    color: #df5656;
}

.down {
    font-weight: bold;
    color: #0d47a1;
}
