@value backgroundGrey: #444;

.sidebar {
    width: 80px;
    height: 100%;

    background: backgroundGrey;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 1.4rem;
}

.icon:hover {
    opacity: 0.5;
}

